 #content {
     width: 100%;
     padding: 0;
 }
 #main{
      min-height: calc( 100vh - 666px );
 }      
 h2#homeh2 {
    color: #fff;
    width: 1230px;
    margin: -75px auto 0 auto;
    z-index: 900;
    position: absolute;
    background: #c1001f;
    width: auto;
    line-height: 50px;
    padding: 0 15px;
    left: 50%;
    margin-left: -615px;
 }
 
 section article {
    
     margin: 0 auto;
     color: #fff;
     padding: 10px 25px 0 25px;
     padding-bottom: 2em;
     background: #262728;
     float: left;
     width: calc(1230px * 0.40);
     margin-left: calc((100% - 1230px) / 2);
 }



 section#content {
  background: #262728; ;
  background-size: 1230px;
     background-size: 1230px; 

   width: 1230px;
   margin: 0 auto;
 
 }

 
 #slideshow {
   height: 400px;
   clear: left;
   width: 100%;
   position: relative;
   overflow: hidden;
   width: 100vw;
   
 }
 
#overslide {
    height: 400px;
   clear: left;
   width: auto;
   position: relative;
   overflow: hidden;
 
}
 #slideshowmover, #slideshowleftmover {
   top: 190px;
 }
  #slideshow .slide .caption {
   display: block;
 }

 section#content  {
    min-height: calc( 100vh  - 560px);
 }

 section#content-left {
    min-height: calc( 100vh  - 560px);
 }
 
 section#content-right {
    min-height: calc( 100vh  - 560px);
 }
 section article#randomrf {
     floaT: right;
     width: calc(1230px * 0.60);
     margin-right: calc((100% - 1230px) / 2);
     margin-lefT: 0;
     }
 
     .refssidebox {
    width: 32%;
    floaT: left;
    height: 140px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.refssidebox:nth-child(5) {  display: none ; }
section article#randomrf h3 {
    left: 25px;
 
}
article {
  clear: none;
}
article img {
  border: none;
}
.border {
    margin-left: 2%;
}
section#content {
   padding-bottom: 0
}
.reftxt{
  width: 100%;
  margin-lefT: 0px
}