Va&#353;e registrace organizace <b>zku&#353;ebn&iacute; projekt</b> byla schv&aacute;lena.<br/>Va&#353;e heslo pro p&#345;&iacute;stup do syst&#233;mu je:<br/><br/><h2>42v17t07ks</h2>P&#345;ihl&aacute;sit se m&#367;&#382;ete zde: http://darcovskasms.cz/registrace-organizace.html</td></tr> </table><table border='0' width='100%'><tr><td style='border-left: 15px solid #fff' align='left'> </td></tr></table><table border='0'><tr><td style='border: 15px solid #fff' align='left'><br/>D&#283;kujeme. <br/><br/>Fórum d&aacute;rc&#367;<!-- end -->
 
       </td></tr></table>  </div>
      </div></td></tr></table>
  </body>
</html>
