body {
color: #000;
font-family: "Helvetica CE","Arial CE",Arial,lucida,sans-serif;
font-size: 80.01%;
text-align: left;
 background: #fff;
}
h1{
 display: none;
}
h2{
  color: #fff;
  font-size: 180%;
  font-weight: normal;
}
h3{
  color: #83cef6;
  font-size: 120%;

}
h4{
  color: #fff;
  font-size: 120%;

}
h5{
  color:#83cef6;
  font-size: 100%;

}
a {
	color:  #83cef6;
}
a:hover {
	text-decoration: none;
	color:  #83cef6;
}

