#calendar_canvas
{
	float: left;
	width: 80%;
}
#calendar_workspace {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.calendar_canvas_col
{
	width: 200px;
	border: solid 1px green;
}
.calendar_canvas_new_item
{
	width: 20px;
	height: 20px;
	background: #f00;
}

#calendar_controls {
	float: left;
	width: 20%;
	background: #e0e0e0;
}
#calendar_controls .movement h3, #calendar_controls .movement ul {
	text-align: center;
}
#calendar_controls .movement ul li {
	display: inline;
}